HW5/zadacha1.exe
HW5/zadacha2.exe
HW5/zadacha3.exe
HW5/zadacha4.exe
HW5/zadacha5.exe
HW6/zadacha1.exe
HW6/zadacha2.exe
HW6/zadacha3.exe
HW6/zadacha4.exe
HW7/zadacha1.exe
HW7/zadacha2.exe
HW7/zadacha3.exe
HW8/zadacha1.exe
HW8/zadacha2.exe
HW9/zadachi1-2.exe
HW9/zadacha3.exe
EXAM3/zadacha1.exe
EXAM3/zadacha2.exe
EXAM3/zadacha3.exe
HW10/zadacha1.exe
HW10/zadacha2.exe
HW10/zadacha3.exe
